#game-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 70px;
  margin: 60px;
}

.game-card {
  transition: 0.3s;
}

.game-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}
